<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inxtes.nowsyncserver.mapper.MessageMapper">
    <select id="selectAllMsg" resultType="com.inxtes.nowsyncserver.model.Message">
        select * from sms
    </select>
    <select id="insertMsg" resultType="Integer" parameterType="com.inxtes.nowsyncserver.model.Message">
        insert into sms(senderNumber,getterNumber,content,date)
        values(#{senderNumber},#{getterNumber},#{content},#{date})
    </select>
</mapper>